*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header a{
display: inline-block;
padding-left: 5%;
text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: aqua;

}
nav{
    width: 30%;
}
.menu{
    display: none;
}
@media screen and (max-width:600px){
    *{
        overflow: hidden;
    }
    .menu{
        display: block;
    }
    header a{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
      
    }
    .nav {
        background-color: rgb(18, 20, 20);
        position: absolute;
    top: -100%;
        left: 0;
        flex-direction: column;
        justify-content: space-around;
        transition: all 500ms;
        z-index: -1;
    }

    .nav-active{
        top:34px;
    }
}